/.phpintel
.idea
/wp-content/uploads/message-attachments
# Cache, session files and logs (Symfony3)
/wp-content/cache/*
# Parameters
/wp-config.php
/.htaccess
/wp-content/uploads/*
*.DS_Store
/wp-content/plugins/wp-super-cache/
/wp-content/plugins/woocommerce-pdf-invoices-packing-slips/
/wp-content/plugins/ubermenu/
/wp-content/plugins/query-monitor/
