# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /ec2/EstonianCrafts/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /ec2/EstonianCrafts/index.php [L]
</IfModule>

# END WordPress
