.ec-new-product-grid-right-top{
}
.ec-new-product-grid-right-mid{
}
.ec-new-product-grid-right-bottom{
}
.ec-new-product-grid-left > .hover-img > a >  .<content-product-image{
	width:200px;

}
.ec-new-product-grid-right-top{
	height:84px;
    font-size: 22px;
}

.ec-new-product-grid-right-mid{
	height:90px;
	line-height:2em;
	text-align:justify;
}
.sold-list{
margin-top: 35px;
font-size:12px;
color: #bdbdbd;
text-align: left;
}
.ec-new-product-grid-right-bottom{
	height:40px;
}
.ec-new-product-grid-left{
	border: 1px solid #cdcdcd;
    height: 219px;
}
.ec-new-author-heading{

    font-size: 14px;
    color: #4E4E4E;
    line-height: 27px;
    height: 27px;
    vertical-align: middle;
}
.ec-new-author-name{

padding-left: 13px;
}
.ec-new-author-name a{
	font-size:19px;
	color:     #ef7f27;
}
.ec-new-product-grid-right-top > .price {
 margin:0px !important;

}
.ec-new-product-grid-right-top > .product-title a{
 	font-size:24px !important;
}
.ec-new-product-grid-right-top > .product-title{

	margin-bottom: 0px !important;
}
.ec-new-product-grid-right-bottom .btn-add a {
	padding:15px 20px !important;
	width:100%;
}
.star-rating{
	margin-top:16px;
}
.ec-new-product-grid-right-bottom .btn-add{
	width:100%;
}
.ec-new-product-grid{
	width:877px;

}
.ec-new-product-grid .star-rating{
   font-size:23px !important;
   width:117px !important;
   margin-left:0px;
}
.woocommerce .container:not(.kt-otsing){
 width:95% !important

}
.woocommerce .widget-area{
  padding-right: 15%;
}
.ec-new-product-grid .star-rating span:before {
   font-size:23px !important;
}
.ec-new-product-grid-right-bottom .yith-wcwl-add-to-wishlist{

    opacity: 1 !important;
    visibility: visible !important;
    transform: scale(1) !important;
    -webkit-transform: scale(1) !important;
    -moz-transform: scale(1) !important;
    -o-transform: scale(1) !important;
    -ms-transform: scale(1) !important;
    -sand-transform: scale(1) !important;
}