/* General form styles */
form .ec-form-field-description {
	color: #aaaaaa;
}

/* Dokan dashboard rewrites */
.dokan-dashboard .dokan-dashboard-wrap {
	overflow: visible;
}
.dokan-dashboard .dokan-dashboard-content {
	float: none;
	overflow: visible;
	width: 100%;
}

/* Product edit page */
.product-edit-new-container .dokan-side-right {
	display: none;
}
.product-edit-new-container .dokan-product-shipping-tax .dokan-side-right {
	display: block;
}
.product-edit-new-container .dokan-product-shipping-tax .ec-extras label {
	display: inline-block;
	margin-right: 10px;
}

/* Helpers */
.ec-hidden {
	display: none;
}

#ec_add_shop_user input.input-text { width: 300px; }
#shop_member_container td.profile-avatar { width: 128px; }
#shop_member_container td.profile-avatar img { width: 96px; min-width: 96px; max-width: 96px; }
#shop_member_container td.profile-details { text-align: left; }
#shop_member_container td.profile-details input.input-text { width: 300px; }